.cakeDisplay{
    text-align: center;
    margin:auto;
    margin-top: 100px;
}

.cake-img{
    background-image:url('https://www.generationsforpeace.org/wp-content/uploads/2018/03/empty.jpg');
    background-size: 200px 200px;
}